.NewsItemBlock {
	padding: 20px;
}
.NewsItem {
	display: flex;
	.thumbnail {
		margin-right: 1rem;
		img {
			display: block;
			width: 160px;
			height: 100px;
			object-fit: cover;
		}
	}
	.contents {
		h2 {
			margin: 0;
			a {
				color: black;
			}
		}
		p {
			margin: 0;
			line-height: 1.5;
			margin-top: 0.5rem;
			white-space: normal;
		}
	}
	& + & {
		margin-top: 3rem;
	}
}

.CategoriesBlock {
	padding: 20px;
	.Category {
		display: inline-block;
		font-size: 1.125rem;
		cursor: pointer;
		white-space: pre;
		text-decoration: none;
		color: inherit;
		padding-bottom: 0.25rem;
		margin-right: 10px;

		&:hover {
			color: #495057;
		}
		&.active {
			font-weight: 600;
			border-bottom: 2px solid #22b8cf;
			color: #22b8cf;
			&:hover {
				color: #3bc9db;
			}
		}

		& + & {
			margin-left: 1rem;
		}
	}
}
